

<head>
  <title> DIY OR NOT </title>
</head>
<body>
<h1 id="banner"> DO IT YOURSELF </h1>
<ul>
  <li><%=  link_to "Home", root_path %></li>
  <li><%=  link_to "Login/Register", signup_path %></li>
  <li><a href="#">Page 3</a></li>
  <li><a href="#">Page 4</a></li>
  <li><a href="#">Page 5</a></li>
  <li><a href="#">Page 6</a></li>
  <li><a href="#">Page 7</a> </li>
</ul>
</body>


