<!--<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">-->

<head>
  <title>DIY or NOT</title>
  </head>
<body>
<h1 id="banner"> DO IT YOURSELF </h1>
<ul>
  <li><%=  link_to "Home", root_path %></li>
  <li><%=  link_to "Login/Register", signup_path %></li>
  <li><a href="products" >Products</a>
  <li><a href="#">Page 3</a></li>
  <li><a href="#">Page 4</a></li>
  <li><a href="#">Page 5</a></li>
  <li><a href="#">Page 6</a></li>
  <li><a href="#">Page 7</a> </li>

</ul>


<div id="Leftcolumn">

 <ul>
    <li> <a href="frame1.html" target="source">Soldering</a></li>
    <ul>
      <li> <a href="frame2.html"  target="source">Required Tools </a> </li>
      <li> Useful Links </li>
    </ul>

     <ul>
    <li> Item 3 </li>

      </ul>
 </ul>


    </div>

</div>
<div id ="Rightcolumn">
  <table class="table_id">
    <tr>
      <td><iframe name="source" src="http://www.youtube.com/embed/lPMHJOgm76M"  width="600px" height="400px"></iframe>

      </td>

    </tr>
  </table>
</div>



</body>
</html>